body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #A52A2A;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A52A2A;
}

nav ul li {

    float: left;
}

nav ul li Link,
.dropdown {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li Link:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A52A2A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content Link {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content Link:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    color: #A52A2A;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.menu {
    flex: 1;

}

#a {
    margin-bottom: 1rem;
}

.menu Link {
    display: flex;
    background-color: #A52A2A;
    color: white;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

.menu Link:hover {
    background-color: #555;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.image-gallery img {
    margin: 10px 0;
    width: 200px;
    height: auto;
    border-radius: 8px;
}